Flask==3.0.2
flask-cors==4.0.0
python-dotenv==1.0.1
email-validator==2.1.1
dnspython==2.6.1
beautifulsoup4==4.12.3
requests==2.31.0
python-magic==0.4.27
pydantic==2.6.3
gunicorn==21.2.0
celery==5.3.6
redis==5.0.2
SQLAlchemy==2.0.27
dnslib==0.9.24
cryptography==42.0.5
python-dateutil==2.9.0
